<%- include('../layouts/user-header') %>

    <section class="about">

        <h1 class="title">why choose us?</h1>

        <div class="row">

            <div class="image">
                <!-- <img src="/public/images/brand-img.png" alt=""> -->
                Bookz Cart
            </div>

            <div class="content">
                <h3>The best online Book Hub </h3>
                <p>Bookz Cart embarked on its journey just a few months ago with a passion for delivering delectable
                    cakes and bakes across vibrant districts of Uttar Pradesh. Our mission is simple yet profound - to
                    guarantee utmost satisfaction and joy to our customers.</p>
                <p>We take immense pride in offering a diverse range of unique and visually appealing products that
                    tantalize taste buds and captivate eyes alike. Every creation from Bookz Cart is meticulously
                    crafted to not only excel in flavor but also to stand out in presentation. </p>

                <p>
                    One of our defining features is our commitment to affordability. We believe that indulging in your
                    cravings shouldn't break the bank. Hence, we ensure that our prices remain pocket-friendly without
                    compromising on quality. At Bookz Cart, you can order your favorite treats without hesitation,
                    knowing that you're getting both exceptional taste and exceptional value. Join us in this delectable
                    journey, where every bite tells a story of passion, quality, and affordability.
                </p>
            </div>

        </div>

        <!-- <div class="icons-container">

            <div class="icons">
                <i class="fa fa-truck"></i>
                <h3>Next-day delivery</h3>
            </div>

            <div class="icons">
                <i class="fa fa-box"></i>
                <h3>attractive packaging</h3>
            </div>

            <div class="icons">
                <i class="fa fa-credit-card"></i>
                <h3>easy payments</h3>
            </div>

            <div class="icons">
                <i class="fa fa-phone"></i>
                <h3>24 hrs support</h3>
            </div>
        </div> -->

        <section id="feature" class="section-p1">
            <div class="fe-box">
                <img src="https://i.postimg.cc/PrN2Y6Cv/f1.png" alt="">
                <h6>Free Shipping</h6>
            </div>

            <div class="fe-box">
                <img src="https://i.postimg.cc/qvycxW4q/f2.png" alt="">
                <h6>Online Order</h6>
            </div>

            <div class="fe-box">
                <img src="https://i.postimg.cc/1Rdphyz4/f3.png" alt="">
                <h6>Save Money</h6>
            </div>

            <div class="fe-box">
                <img src="https://i.postimg.cc/GpYc2JFZ/f4.png" alt="">
                <h6>Promotions</h6>
            </div>

            <div class="fe-box">
                <img src="https://i.postimg.cc/4yFCwmv6/f5.png" alt="">
                <h6>Happy Sell</h6>
            </div>

            <div class="fe-box">
                <img src="https://i.postimg.cc/gJN1knTC/f6.png" alt="">
                <h6>F24/7 Support</h6>
            </div>

        </section>
    </section>


    <%- include('../layouts/user-footer-section') %>

        <%- include('../layouts/user-footer') %>